/* COLOR CODES */

$color_white: #FDFDFE;
$color_blue: #02A4EF;
$color_dark_sea_green: #07CFEE;
$color_blackish: #203B4A;
$color_light_sea_green: #39E6E6;
$color_grey: #D6E6ED;
$color_dark_blue: #169CD5;
$color_green: #71CEB4;
